@use "code";
@use "mermaid";
@use "site_header";
@use "page_header";
@use "dropdown";
@use "typography";

@import "fonts/fonts";
@import "colors";

body {
  height: 100%;
  min-height: 100%;
  max-width: 35em;

  font-family: "Cormorant";
  font-size: 1.25em;
  line-height: 1.5em;

  margin: auto;

  padding: 2em;

  background: $bg;
  color: $fg;

  overflow-wrap: break-word;
}

/*********************** BLOG INDEX ***********************/

.blog-index {
  width: 95%;
  margin: auto;
}

.blog-index a {
  display: flex;
  color: $fg;
  text-decoration: none;
}

.blog-index-date {
  flex-grow: 1;
  text-align: right;
  display: flex;
  align-items: center;
}

.blog-index-date::before {
  content: '';
  border-bottom: 0.1em dotted rgba($fg, 0.25);
  flex: 1;
  margin: 0 1em;
}

/************************ JOURNAL *************************/

.journal-entry {
  margin-top: 5em;
  margin-bottom: 5em;
}

.journal-metadata {
  width: fit-content;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.journal-metadata {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.journal-metadata > *:not(:first-child)::before {
  content: "|";
  margin-right: 0.75em;
  padding: 0;
}

.journal-metadata * {
  margin: auto;
  font-size: 0.85em;
  font-weight: 700;
  color: rgba($fg, 0.5);
  text-decoration: none;
}

/************************ TABLES **************************/
table {
  border-radius: 0.1em;
  font-family: "IBM Plex Mono";
	border-collapse: collapse;
  text-align: left;
  margin: 1em auto;
	min-width: 40%;
	max-width: 95%;
	overflow: hidden;

	tr {
		&:nth-child(even) {
      background-color: rgba($gr, 0.15);
		}

		&:nth-child(odd) {
      background-color: rgba($gr, 0.05);
		}

		th,
		td {
			padding: 0.25em 0.75em;
		}

		th {
      background-color: rgba($gr, 0.25);
			font-weight: bold;
		}
	}
}
