@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/cormorant/Cormorant-Medium.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/cormorant/Cormorant-MediumItalic.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/cormorant/Cormorant-Bold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/cormorant/Cormorant-BoldItalic.ttf"), local("ttf");
  font-display: swap;
}
