<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="{{ get_url(path="main.css") }}">

  <head>
    <meta charset="utf-8">
    <title>MyBlog</title>
  </head>

  <body>
    <header class="site-header">
      <nav>
        {% for nav_item in config.extra.header_nav %}
          <a href="{{ nav_item.url | safe }}" {% if nav_item.new_tab %}target="_blank" rel="noreferrer noopener"{% endif %}>{{ nav_item.name }}</a>
        {% endfor %}
      </nav>
    </header>
    <hr>
    <section class="section">
      <div class="container">
        {% block content %} {% endblock content %}
      </div>
    </section>
  </body>

</html>
