{% extends "base.html" %}

{% block content %}
  <main>
    <article>
      <div class="page-header">
        <span class="page-title">
          {{ page.title }}
        </span>
        <span class="page-date">
          {% if page.date %}{{ page.date | date(format="%B %-d, %Y") }}{% endif %}
        </span>
        {% if page.description %}
          <p class="page-description">
            {{ page.description }}
          </p>
        {% endif %}
      </div>

      <div class="page-body">
        {{ page.content | safe }}
      </div>
    </article>
  </main>
{% endblock content %}
